# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: progress_loading_button

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  publish:
    name: Analyze & Publish flutter package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.2.3"
          channel: "stable"
      - run: flutter clean
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter pub publish --dry-run
      - run: flutter pub publish
